<h1>All of the workouts!</h1>

<% @workouts.each do |w| %>

<p>Name</p>
<%= w.user.username %>
<br>
<p>Title of workout</p>
<%= w.title %>
<br>
<%= link_to "Add a comment", new_workout_comment_path(w.id) %>
<% end %>