<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
      
        <h1 class="font-weight-strong display-3 text-info">Welcome to Social Fitness</h1> form-group text-info h5
        <h4 class="font-weight-strong display-5 text-primary">Customize and Share Workouts</h4>



    <a class="btn btn-success" href="/login" role="button">Log-in</a>
     <a class="btn btn-primary" href="/signup" role="button">Sign-Up</a>
        

      </div>
    </div>
  </div>
</header>




<style>
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/1600x900/?fitness,people');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
</style>
