<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light">Welcome to Social Fitness</h1>
        <p class="lead">Customize and Share Workouts</p>

        <%= link_to  "Login", login_path %>
        <%= link_to  "signup", signup_path %>

      </div>
    </div>
  </div>
</header>




<style>
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/1600x900/?fitness,people');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
</style>
